name: Build Flutter for iOS

on:
  workflow_dispatch:

jobs:
  build-ios:
    name: Build for iOS
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Clone repo from GitLab
        run: git clone https://gitlab.com/gnejusz_pompejusz/tomos.git

      - name: Install dependencies
        run: flutter pub get
        working-directory: tomos

      - name: Build iOS Release
        run: |
          flutter build ios --release --no-codesign
        working-directory: tomos

      - name: Upload iOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: tomos-ios
          path: tomos/build/ios/iphoneos/Runner.app
