name: Build & Publish F-Droid Repo

on:
  push:
    tags: ["v*"]

  workflow_dispatch:
    inputs:
      versionName:
        description: "App version name (e.g. 1.2.0)"
        required: true
      versionCode:
        description: "Android versionCode (e.g. 12)"
        required: true
      flutterVersion:
        description: "Flutter version (e.g. 3.38.5)"
        required: false
        default: 3.38.5

jobs:
  fdroid:
    runs-on: ubuntu-latest
    env:
      APPID: com.gnejusz.tomos
      FLUTTER_VERSION: ${{ inputs.flutterVersion || '3.38.5' }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Increase Git buffer limits (fix GitLab clone issues)
        run: |
          git config --global fetch.fsckobjects false
          git config --global http.postBuffer 524288000
          git config --global http.maxRequestBuffer 1000M
          git config --global http.lowSpeedLimit 0
          git config --global http.lowSpeedTime 999999

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - name: Install fdroidserver and deps
        run: |
          sudo apt update
          sudo apt install -y fdroidserver libglu1-mesa

      - name: Clean build env
        run: |
          rm -rf ~/.gradle ~/.android ~/.cache || true

      - name: Flutter doctor
        run: flutter doctor -v

      - name: Get GitLab commit
        run: |
          SHA=$(git ls-remote https://gitlab.com/gnejusz_pompejusz/tomos.git HEAD | cut -f1)
          echo "COMMIT=$SHA" >> $GITHUB_ENV

      - name: Resolve version
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "VERSION_NAME=${{ inputs.versionName }}" >> $GITHUB_ENV
            echo "VERSION_CODE=${{ inputs.versionCode }}" >> $GITHUB_ENV
          else
            TAG=${GITHUB_REF#refs/tags/}
            echo "VERSION_NAME=${TAG#v}" >> $GITHUB_ENV
            echo "VERSION_CODE=$(echo ${TAG#v} | tr -d '.')" >> $GITHUB_ENV
          fi

      - name: Restore keystore for Gradle
        run: |
          echo "${{ secrets.FDROID_KEYSTORE_BASE64 }}" | base64 -d > release-key.p12

      - name: Generate changelog
        run: |
          mkdir -p "fdroid/metadata/$APPID/changelogs"

          if git describe --tags --abbrev=0 HEAD^ >/dev/null 2>&1; then
            PREV_TAG=$(git describe --tags --abbrev=0 HEAD^)
            git log --pretty=format:"- %s" "$PREV_TAG"..HEAD \
              > "fdroid/metadata/$APPID/changelogs/$VERSION_CODE.txt"
          else
            git log --pretty=format:"- %s" \
              > "fdroid/metadata/$APPID/changelogs/$VERSION_CODE.txt"
          fi

      - name: Patch metadata
        run: |
          METADATA="fdroid/metadata/$APPID.yml"

          if ! grep -q "^Builds:" "$METADATA"; then
            echo "" >> "$METADATA"
            echo "Builds:" >> "$METADATA"
          fi

          if ! grep -q "versionName: $VERSION_NAME" "$METADATA"; then
            cat <<EOF >> "$METADATA"
              - versionName: $VERSION_NAME
                versionCode: $VERSION_CODE
                commit: $COMMIT
                subdir: .
                init: |
                  export LANG=C.UTF-8
                  export LC_ALL=C.UTF-8
                  rm -rf ~/.gradle/caches || true
                  flutter pub get
                  flutter build apk --release --split-per-abi
                gradle: []
                output:
                  - build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
                  - build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
                  - build/app/outputs/flutter-apk/app-x86_64-release.apk
          EOF
          fi

          if ! grep -q "^AllowedAPKSigningKeys:" "$METADATA"; then
            cat <<EOF >> "$METADATA"

          AllowedAPKSigningKeys:
            - 1DCD14A7A1636623F211331784878A06D692F6747382AA79684668402C7094EE
          EOF
          fi

      - name: fdroid build
        env:
          # dla fdroidserver
          FDROID_KEYSTORE: keystore.p12
          FDROID_KEYSTORE_PASS: ${{ secrets.FDROID_KEYSTORE_PASS }}
          FDROID_KEY_PASS: ${{ secrets.FDROID_KEY_PASS }}

          # dla Gradle
          KEYSTORE_PASSWORD: ${{ secrets.FDROID_KEYSTORE_PASS }}
          KEY_ALIAS: release

        run: |
          cd fdroid
          fdroid build --verbose "$APPID:$VERSION_NAME"

      - name: fdroid verify
        env:
          FDROID_KEYSTORE: keystore.p12
          FDROID_KEYSTORE_PASS: ${{ secrets.FDROID_KEYSTORE_PASS }}
          FDROID_KEY_PASS: ${{ secrets.FDROID_KEY_PASS }}
        run: |
          cd fdroid
          fdroid verify --verbose "$APPID:$VERSION_NAME"

      - name: fdroid update
        env:
          FDROID_KEYSTORE: keystore.p12
          FDROID_KEYSTORE_PASS: ${{ secrets.FDROID_KEYSTORE_PASS }}
          FDROID_KEY_PASS: ${{ secrets.FDROID_KEY_PASS }}
        run: |
          cd fdroid
          fdroid update --verbose

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: fdroid/repo
          publish_branch: gh-pages
