name: Build Flutter Android Release

on:
    workflow_dispatch:

jobs:
    build-android:
        name: Build for Android
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Install Flutter
              uses: subosito/flutter-action@v2
              with:
                  channel: "stable"

            - name: Clone repo from GitLab
              run: git clone https://gitlab.com/gnejusz_pompejusz/tomos.git

            - name: Setup Keystore
              run: |
                  # 1. Dekodujemy plik klucza bezpośrednio tam, gdzie Gradle go szuka na podstawie błędu
                  echo "${{ secrets.FDROID_KEYSTORE_BASE64 }}" | base64 -d > /home/runner/work/tomos-mirror/tomos-mirror/tomos/release-key.p12

                  # 2. Tworzymy plik keystore.properties w folderze android (tam gdzie jest build.gradle)
                  # Ustawiamy KEYSTORE_PATH na pełną ścieżkę do pliku, który przed chwilą stworzyliśmy
                  cat <<EOF > tomos/android/keystore.properties
                  KEYSTORE_PATH=/home/runner/work/tomos-mirror/tomos-mirror/tomos/release-key.p12
                  KEYSTORE_PASSWORD=${{ secrets.FDROID_KEYSTORE_PASS }}
                  KEY_ALIAS=fdroid
                  EOF

            - name: Install dependencies
              run: flutter pub get
              working-directory: tomos

            - name: Build Android Release
              run: flutter build apk --release --split-per-abi --verbose
              working-directory: tomos

            - name: Debug output
              run: ls -R tomos/build/app/outputs/flutter-apk/

            - name: Upload Android artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: tomos-android
                  path: tomos/build/app/outputs/flutter-apk/*.apk
